@keyframes sway {
    0% {
      transform: rotate(8deg);
    }
    50% {
      transform: rotate(-8deg);
    }
    100% {
      transform: rotate(8deg);
    }
  }

  @media only screen and (min-width: 768px) {
    .construction-bager-container{
      margin-bottom: auto !important;
      margin-top: 8% !important;
    height:auto !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .construction-bager{
      
      background: url("../images/wrecking.png");
      background-size: cover;
      position: relative;
  
      height:500px;
      width:500px;

    }
    .object{
      margin-right:320px !important;
      margin-top: 30px !important;
    }
    .object-rope{
      height: 20vh !important;
      background-color: #000000 !important;
    }

    .object-shape{
      background-color: #000000 !important;
    }
  }

  
  .object {
    position: absolute;
    animation: sway 2.4s infinite;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
    left: 0;
    right: 0;
    height: 5%;
    z-index: 999;
    text-transform: uppercase;

  }
  
  .object-shape {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    background-color: #ed1e1e;
    margin: 0 auto;
    position: relative;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    font-weight: 800;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .object-shape span {
    font-size: 22px;
    color:white;
  }
  
  .object-rope {
    height: 25vh;
    width: 5px;
    background-color:#ed1e1e ;
    content: "";
    display: block;
    margin-left: 50%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 0 20px 20px 20px
  }
  
  .logo {
    max-width: 300px;
  }
  
  .projects-under-construction p {
    font-weight: 500;
    text-align: center;
  }
  
  .message {
    margin-top: 40px;
  }
  .construction-bager-container{
margin-bottom: 20vh;
    height:20vh;
  }

