@media only screen and (min-width:992px) {
    :root {
        --primary: #ed1e1e;
        --secondary: #ffffff;
        --white: #ffffff;
        --gray: #383838;
        --font-primary: 55px;
        --font-secondary: 35px;
        --font-tertiary: 30px;
        --font-text: 18px
    }

    .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw
    }

    h1 {
        font-size: var(--font-primary);
        font-weight: 800
    }

    h2 {
        font-size: var(--font-secondary);
        font-weight: 700
    }

    h3 {
        font-size: var(--font-tertiary);
        font-weight: 600
    }

    p {
        font-size: var(--font-text);
        font-weight: 400
    }

    .navbar-nav {
        margin-left: 100px;
        gap: 30px
    }

    .push-top-75 {
        margin-top: 75px !important
    }

    .navbar-container {
        padding: 0 3vw 0 0 !important
    }

    .nav-item {
        position: relative;
        padding-bottom: 3px !important
    }

    .nav-item:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--primary);
        transform-origin: bottom right;
        transition: transform .3s ease-out
    }

    .nav-item:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left
    }

    .nav-phone {
        top: 27px
    }

    .dropdown-menu.nav-dropdown.show {
        background-color: #fff;
        border: 1px solid #888 !important
    }

    .dropdown-menu.nav-dropdown.show .dropdown-item {
        color: var(--gray)
    }

    .dropdown-menu.nav-dropdown.show .dropdown-item.active {
        color: #fff
    }

    .push-bottom-section {
        padding-bottom: 80px
    }

    .hero {
        padding: 10% !important;
        background-position: right 0 top 0
    }

    .bricks {
        position: absolute;
        right: 0;
        top: 87vh;
        width: auto;
        z-index: 5
    }

    .bricks svg {
        float: right;
        width: 80%;
        object-fit: cover
    }

    .intro-container, .services-description {
        margin-right: 30%
    }

    .row-container {
        min-width: 992px;
        white-space: nowrap
    }

    .index-fast-contact {
        height: 135px;
        width: 1020px
    }

    .fast-contact-white {
        width: max-content;
        height: 200px
    }

    .owl-carousel-index {
        padding: 0 15px
    }

    .row-vision-line {
        position: absolute;
        height: 70px;
        width: 100%;
        top: 40%;
        background-color: #ed1e1e;
        z-index: -1
    }

    .vision-row {
        column-gap: 5%
    }

    .vision-card {
        padding: 70px 30px;
        gap: 40px
    }

    .vision-icon-container {
        margin: 0
    }

    .index-contact-container {
        width: 80%;
        margin: auto
    }

    .footer-row p {
        font-size: medium
    }

    .services-hero {
        text-align: center !important
    }
}

@media only screen and (min-width:1200px) {
    .container-fluid {
        padding-left: 10vw;
        padding-right: 10vw
    }

    .services-certifikat {
        background-position: 0 75%
    }
}