@media only screen and (max-width:346px) {
    .fast-contact-txt p {
        font-size: 12px
    }

    .fast-contact-icon {
        width: 45px;
        height: 45px
    }

    .fast-contact-icon i {
        font-size: 20px
    }

    .index-fast-contact {
        height: 160px
    }
}

@media only screen and (max-width:1630px) and (min-width:768px) {
    .change-project-button {
        display: none
    }

    .projects-button {
        min-width: max-content !important
    }
}

@media only screen and (max-width:400px) {
    .change-project-button {
        display: none
    }

    .projects-button {
        min-width: max-content !important
    }
}

@media only screen and (min-width:768px) {
    .footer-nav, .footer-row {
        text-align: left
    }

    :root {
        --primary: #ed1e1e;
        --secondary: #ffffff;
        --white: #ffffff;
        --gray: #383838;
        --font-primary: 40px;
        --font-secondary: 30px;
        --font-tertiary: 25px;
        --font-text: 16px
    }

    h1 {
        font-size: var(--font-primary);
        font-weight: 800
    }

    h2 {
        font-size: var(--font-secondary);
        font-weight: 700
    }

    h3 {
        font-size: var(--font-tertiary);
        font-weight: 600
    }

    p {
        font-size: var(--font-text);
        font-weight: 400
    }

    .push-bottom-section {
        padding-bottom: 80px
    }

    .hero {
        padding: 40px !important;
        background-position: right
    }

    .hero-buttons {
        gap: 40px
    }

    .row-container {
        min-width: 755px;
        white-space: nowrap
    }

    .index-fast-contact {
        height: 73px;
        width: 790px
    }

    .fast-contact-white {
        width: max-content;
        margin-top: -80px
    }

    .container-fluid {
        overflow: visible
    }

    .carousel-container h2, .carousel-container h3 {
        text-align: center
    }

    .-index {
        padding: 0 20px;
        margin: auto
    }

    .owl-carousel-index {
        margin-bottom: 90px
    }

    .owl-next, .owl-prev {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        z-index: 9999;
        font-size: larger !important;
        color: #fff !important;
        background-color: #ed1e1e !important
    }

    .owl-prev {
        left: -5px
    }

    .owl-next {
        right: -5px
    }

    .owl-next i, .owl-prev i {
        transform: scale(2, 5);
        color: #fff
    }

    .owl-carousel-index .owl-nav {
        padding-bottom: 10px
    }

    .card-text {
        font-size: calc(var(--font-text)-2px)
    }

    .vision-container {
        position: relative;
        width: 100%
    }

    .row-vision-line {
        position: absolute;
        height: 70px;
        width: 100%;
        top: 40%;
        background-color: #ed1e1e;
        z-index: -1
    }

    .vision-row {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        justify-content: space-between;
        margin: auto;
        column-gap: 5px;
        justify-content: center;
        width: 95%
    }

    .vision-card {
        padding: 10px;
        margin: auto;
        height: 100%
    }

    .vision-icon-container {
        margin: 0
    }

    .center-block {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center
    }

    .carousel-item-active, .project-carousel-container .carousel-item {
        display: flex;
        flex-direction: row !important;
        gap: 30px;
        justify-content: center;
        padding-bottom: 0 !important;
        height: 65vh
    }

    .project-small-card {
        width: 30%
    }

    .project-small-card img {
        height: 25vh
    }

    .project-small-card p {
        margin-top: -5px
    }

    .carousel-buttons {
        width: 29.4%;
        right: 0;
        bottom: 43px;
        position: absolute;
        margin: unset
    }

    .carousel-buttons .carousel-control-prev, .carousel-control-next {
        padding: 20px;
        opacity: 1
    }

    .project-carousel-small-container.push-top-75 {
        margin-top: 75px !important
    }

    .form-container.row {
        box-shadow: 20px 25px #ed1e1e, -20px 25px #ed1e1e;
        padding: 5vh 5vw;
        border: 1px solid #ed1e1e;
        margin: 5vh 20px 200px
    }

    .form-info {
        padding-right: 5vw
    }

    .contact-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap
    }

    .form-container {
        margin-top: auto
    }

    .footer-row {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 50px 0
    }

    .float-right {
        float: right
    }

    .footer-logo {
        width: 70%
    }
}