input, textarea {
  border-radius: 0 !important
}

.services-description li span, label {
  color: #000
}

.nav-phone, a {
  text-decoration: none
}

.btn-projekti:hover, .text-primary {
  color: var(--primary) !important
}

.btn, .fast-contact-icon, .fast-contact-info, .hero, .hero-buttons, .owl-carousel-index .owl-stage-outer .owl-stage, .project-big-card .carousel-item {
  display: flex
}

:root {
  --primary: #ed1e1e;
  --secondary: #ffffff;
  --white: #ffffff;
  --gray: #383838;
  --font-primary: 36px;
  --font-secondary: 28px;
  --font-tertiary: 24px;
  --font-text: 15px
}

body, html {
  overflow-x: hidden
}

.services-description li {
  list-style: circle;
  color: red
}

.nav-list {
  list-style: none
}

* {
  font-family: Barlow, sans-serif
}

input {
  border: .5px solid #ed1e1e91 !important
}

textarea {
  border: .5px solid #ed1e1e91 !important;
  height: 8rem
}

select {
  appearance: auto !important;
  border-radius: 0 !important;
  border: .5px solid #ed1e1e91 !important
}

label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px
}

li, p {
  font-size: var(--font-text);
  font-weight: 400;
  line-height: 1.4
}

h1 {
  font-size: var(--font-primary);
  font-weight: 800
}

h2 {
  font-size: var(--font-secondary);
  font-weight: 700
}

h3 {
  font-size: var(--font-tertiary);
  font-weight: 600
}

rect {
  pointer-events: all
}

h4 {
  font-weight: 500
}

ul li {
  padding-bottom: 8px
}

a {
  color: inherit
}

:focus, input:focus, textarea:focus {
  outline: 0 !important
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none
}

.padding-10 {
  padding: 10px !important
}

.padding-20 {
  padding: 20px !important
}

.push-bottom-25 {
  margin-bottom: 25px !important
}

.push-bottom-50 {
  margin-bottom: 50px !important
}

.push-bottom-75 {
  padding-bottom: 75px !important
}

.push-top-25 {
  margin-top: 25px !important
}

.push-top-50 {
  margin-top: 50px !important
}

.push-top-75 {
  margin-top: 10px !important
}

.push-top-75-small {
  padding-top: 45px !important
}

.push-bottom-section {
  padding-bottom: 50px
}

.navbar-brand, .navbar-logo, nav {
  padding: 0 !important
}

.primary {
  background-color: var(--primary) !important
}

.border-primary {
  border-color: var(--primary) !important
}

.white {
  background-color: var(--white) !important
}

.text-white {
  color: var(--white) !important
}

.border-white {
  border-color: var(--white) !important;
  width: 131px !important
}

.btn {
  border-radius: 4px !important;
  min-width: max-content !important;
  height: 45px !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
  gap: 5px
}

a.btn i.bi-chevron-right {
  transition: .2s ease-in
}

.dropdown-item {
  font-size: 14px
}

.dropdown-item:hover {
  background-color: #00000033 !important
}

.dropdown-item.active {
  background-color: #ed1e1e !important
}

.navbar-brand {
  object-fit: cover
}

.navbar-logo {
  object-fit: contain;
  height: 100%
}

.navbar-hamburger {
  color: #fff;
  font-size: 34px
}

.nav-link {
  line-height: normal;
  font-size: 16px
}

.nav-link::after {
  vertical-align: .1em
}

.navbar-container {
  background-color: rgba(0, 0, 0, .432);
  z-index: 123456789999;
  border-bottom: 1px solid #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, .164) 0 5px 15px 0;
  backdrop-filter: blur(10px);
  padding: 5px 10px !important
}

.dropdown-menu.nav-dropdown.show {
  background-color: transparent;
  border-style: none !important
}

.dropdown-menu.nav-dropdown.show .dropdown-item {
  color: #fff
}

.navbar-toggler-left {
  border: none;
  margin-right: auto
}

.navbar-phone {
  position: absolute;
  right: 18px;
  top: 18px
}

.nav-phone {
  position: absolute;
  right: 20px;
  top: 19px
}

.nav-dropdown {
  border-radius: 0 !important;
  border: 1px solid #979797 !important;
  top: 110% !important
}

.hero {
  height: 85vh;
  justify-content: center;
  flex-direction: column;
  background-image: url('../images/crane.png');
  background-color: rgba(0, 0, 0, .555);
  background-blend-mode: multiply;
  background-position: right -340px top 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 13px var(--primary) solid
}

.hero-title {
  padding: 10px
}

.btn-projekti {
  background: linear-gradient(to right, #fff 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: .5s ease-out
}

.btn-projekti:hover {
  background-position: left bottom
}

.hero-title h1, .services-hero h1 {
  font-size: calc(var(--font-primary) * 1.5)
}

.hero-buttons {
  padding: 10px;
  gap: 20px;
  flex-wrap: wrap
}

.index-fast-contact {
  width: 100%;
  margin: auto;
  background-color: #ed1e1e;
  height: 175px
}

.fast-contact-white {
  background-color: #fff;
  width: 95%;
  margin: -50px auto auto;
  position: absolute;
  left: 0;
  right: 0;
  height: max-content;
  display: flex;
  z-index: 12
}

.row-container {
  padding: 30px 0 30px 2.5vw;
  margin: auto;
  justify-content: center
}

.fast-contact-info-container {
  margin: auto
}

.fast-contact-info {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 25px;
  padding: 5px 0
}

.fast-contact-icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ed1e1e
}

.fast-contact-icon i {
  font-size: 30px
}

.footer-row p, .text-small {
  font-size: small
}

.container-fluid {
  padding-top: 40px
}

.intro-container {
  margin-top: 40px
}

.carousel-button {
  transition: transform .2s ease-in
}

.carousel-button:hover {
  transform: scale(1.02)
}

.carousel-container {
  width: 100%;
  overflow: visible
}

.owl-carousel-index {
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: visible
}

.owl-stage-outer {
  overflow-y: visible;
  overflow: unset;
  height: 100%
}

.owl-item {
  transition: 250ms ease-out
}

.owl-dots {
  margin-top: 60px !important
}

.owl-dots button span {
  border: .5px solid #ed1e1ed8;
  background: #fff !important
}

.owl-dots button.active span {
  background: #ed1e1ed8 !important
}

.card, .item {
  height: 100%
}

.card {
  box-shadow: rgba(0, 0, 0, .014) 0 5px 15px 0
}

.card-img-top-index {
  height: 35vh;
  object-fit: cover
}

.card-body-index {
  border-top: 5px solid var(--primary);
  border-bottom: none !important;
  padding: 25px
}

.card-body-index a {
  float: right;
  position: absolute;
  bottom: -20px;
  right: 0;
  margin-right: 30px
}

.projects-index-container {
  text-align: left;
  width: 100%
}

.margin-none, .projects-index-button {
  margin: 0 !important
}

.bricks-projects {
  display: none
}

@media only screen and (min-width:1500px) {
  .projects-index-container {
    margin-left: auto;
    text-align: end;
    width: 60%;
    padding-bottom: 50px;
    margin-bottom: 150px;
    border-bottom: 1px solid var(--primary)
  }

  .projects-index-button {
    margin: 0 0 0 auto !important
  }

  .bricks-projects {
    display: block !important;
    position: absolute;
    left: 0
  }
}

.vision-row {
  position: relative;
  z-index: inherit;
  margin: auto;
  padding: 0
}

.vision-line {
  display: inline-block;
  border-top: 70px solid #ed1e1e;
  width: 3.5em;
  margin: auto
}

.vision-card {
  background-color: #fff;
  width: 100%;
  border: 1px solid #ed1e1e;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
  height: 100%
}

.vision-icon-container {
  margin: auto;
  text-align: center
}

.vision-icon {
  width: 25%
}

.index-contact-container {
  text-align: center;
  width: 100%
}

.index-contact-container h2 {
  margin-top: 25px;
  font-weight: 400
}

.index-contact-button {
  margin: auto;
  width: max-content;
  background: linear-gradient(to right, var(--primary) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: .5s ease-out
}

.project-big-image-holder, .services-hero {
  background-position: center;
  background-size: cover
}

.index-contact-button:hover {
  color: #fff !important;
  background-position: left bottom
}

.services-description .index-contact-button {
  margin: 0
}

.footer-container {
  padding-top: 50px !important;
  padding-bottom: 10px !important;
  width: 100%;
  background-color: var(--gray);
  margin-top: 50px !important
}

.footer-logo-container, .footer-nav {
  text-align: center;
  margin: inherit
}

.footer-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between
}

.footer-row p {
  line-height: 1.7 !important
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 7px
}

.footer-nav a {
  text-decoration: none !important
}

.footer-logo {
  margin: auto;
  object-fit: contain;
  width: 50%
}

.services-hero {
  background-color: rgba(0, 0, 0, .555);
  background-blend-mode: multiply;
  padding: 40px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 5px solid var(--primary);
  position: relative;
  z-index: -30
}

.bricks-usluge {
  top: 60% !important
}

.bricks-contact {
  position: relative;
  top: 00 !important;
  right: 0 !important;
  z-index: 1 !important
}

.form-container {
  background-color: #fff;
  position: relative;
  z-index: 1234 !important
}

.form-map-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 0 1 auto;
  padding-top: 10px;
  filter: grayscale(50%)
}

.form-details {
  display: flex;
  flex-direction: column
}

.form-map {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover
}

.project-fullscreen {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .76)
}

.project-fullscreen-image {
  object-fit: contain;
  height: 80%;
  position: relative;
  z-index: 99999
}

.project-fullscreen-real-image {
  width: 100%;
  height: 100%;
  object-fit: contain
}

.btn-fullscreen {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 30px !important
}

.carousel-item-active, .project-carousel-container .carousel-item {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-bottom: 0 !important
}

.project-carousel-small-image, .project-small-card {
  width: 100%
}

.project-small-card .card {
  gap: 10px
}

.project-small-card p {
  line-height: 24px;
  font-size: calc(var(--font-text) - 1px);
  margin-top: -15px
}

.project-small-card img {
  height: 50vh;
  object-fit: cover
}

.project-big-image-holder {
  width: 70%;
  height: 100%;
  background-repeat: no-repeat
}

.project-small-card div, img {
  border-radius: 0 !important;
  border: none;
  box-shadow: none;
  padding: 0
}

.carousel-buttons {
  position: relative;
  margin-top: 20px;
  margin-bottom: 140px
}

.carousel-buttons .carousel-control-prev, .carousel-control-next {
  padding: 20px;
  opacity: 1
}

.projects-button {
  min-width: 182px !important
}

.small-owl {
  height: auto
}

.project-carousel-small-image img {
  object-fit: cover;
  height: 30vh
}

.filler {
  height: 2000px;
  background-color: #ed1e1e
}